
# Librerías principales para análisis de datos
pandas
pyarrow

# Integración con Google BigQuery
pandas-gbq
google-cloud-bigquery

# Kaggle API para descarga de datasets
kaggle link[]

# Jupyter y entorno interactivo
jupyter
ipykernel
nbconvert

# Extras recomendados
matplotlib
seaborn

